/* for the browser default values */
* {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/* to decrease the default font size */
/* for using the rem unit */
html {
    font-size: 62.5%;
}

/* some initial variables */
:root {
    --primary: rgb(43, 129, 228);
    --secondary: rgb(238, 238, 238);
    --white: rgb(255, 255, 255);
    --grey: rgb(85, 85, 85);
    --light-grey: rgb(119, 119, 119);
}

/* class to just center the element */
/* something we will encounter very often */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--secondary);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey);
    overflow: hidden;
}

.header {
    width: 100%;
    height: calc(100vh - 7rem);
    background: linear-gradient(rgb(18, 117, 231, 0.5), rgba(18, 117, 231,  0.3)), url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text {
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem var(--grey);
}

.heading {
    font-size: 8rem;
    color: var(--white);
}

.header-paragraph {
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary);
    max-width: 70rem;
    margin: auto;
}

.logo {
    position: absolute;
    top: 3rem;
    right: 4rem;
}

.logo h1 {
    display: flex;
    gap: 0.8rem;
}

.logo span {
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--primary);
    background-color: var(--white);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    animation: dancing-letters 3s 0.4s infinite;
}

.logo span:nth-child(1) {
    animation-delay: 0.1s;
}

.logo span:nth-child(2) {
    animation-delay: 0.2s;
}
.logo span:nth-child(3) {
    animation-delay: 0.3s;
}
.logo span:nth-child(4) {
    animation-delay: 0.4s;
}
.logo span:nth-child(5) {
    animation-delay: 0.5s;
}
.logo span:nth-child(6) {
    animation-delay: 0.6s;
}
.logo span:nth-child(7) {
    animation-delay: 0.7s;
}

@keyframes dancing-letters {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.header-image {
    width: 35%;
    animation: air-baloon 500s infinite;
}

@keyframes air-baloon {
    0% {
        transform: translateZ(40rem);
        opacity: 1;
    }
    40% {
        transform: translateZ(-500rem) translateX(150rem);
        opacity: 0.7;
    }
    70% {
        transform: translateZ(-1500rem) translateX(800rem);
        opacity: 0.4;
    }
    80% {
        transform: translateZ(-50rem) translateX(100rem);
        opacity: 0.8;
    }
    100% {
        transform: translateZ(40rem);
        opacity: 1;
    }
}



.tours {
    padding: 5rem 0 10rem 0;
}

.tours-heading {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 8rem;
    color: var(--primary);
    text-shadow: 0 0.1rem 0.2rem var(--primary);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.front-side {
    text-align: center;
    background-color: var(--white);
    border-radius: 0.8rem;
    position: relative;
    z-index: 10;
    transition: opacity 0.7s, transform 0.7s, box-shadow 0.7s;
}

.change > .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    z-index: 0;
}

.card-image {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
}

.tourName {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white);
    text-shadow: 0 0 1rem black;
}

.card-list {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0 3rem 0;
}

.card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grey);
    margin: 2rem 0;
    border-bottom: 0.1rem solid var(--primary);
    padding-bottom: 1.5rem;
}

.backside {
    position: absolute;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: 0 2rem 4rem rgb(119, 119, 119);
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: 0.5;
    transition: opacity 0.7s, transform 0.7s, box-shadow 0.7s;
}

.change > .backside {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 0.5rem 2rem #aaa;
    opacity: 0.9;
}

.nav-btn {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.747);
    border: 0.1rem solid var(--light-grey);
    font-size: 1.5rem;
    color: var(--grey);
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.5s;
}

.nav-btn:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
}

.price {
    color: var(--white);
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.book-btn {
    cursor: pointer;
    color: var(--white);
    border: 0.3rem solid var(--white);
    border-radius: 2.2rem;
    background-color: var(--primary);
    padding: 1rem 2rem;
    font-size: 2rem;
    transition: all 0.3s;
}

.book-btn:hover {
    color: var(--primary);
    background-color: var(--white);
}


.testimonials {
    padding: 10rem 0;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.bg-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testi-bg {
    /* background-color: rgb(255, 166, 166); */
    background-color: rgba(233, 233, 233, 0.692);
    padding: 5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51,51,51,0.4);
    border-radius: 0.7rem;
    transform: skewX(20deg);
}

.testi {
    transform: skewX(-20deg);
    display: flex;
    gap: 5rem;
}

.testi-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

.testi-text {
    letter-spacing: 0.1rem;
}

.testi-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--grey);
    margin-bottom: 1rem;
}

.testi-para {
    font-size: 1.8rem;
    color: var(--light-grey);
}

.contact {
    padding: 15rem 0 20rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    background: url(images/contact-us-bg.png) center no-repeat;
    background-size: cover;
    animation: contact-bg 35s infinite;
}

@keyframes contact-bg {
    0% {
      background-color: #3d3d3d;
    }
    25% {
      background-color: #ced8e4;
    }
    50% {
      background-color: #1e81f3;
    }
    75% {
      background-color: #ff7842;
    }
    100% {
      background-color: #3d3d3d;
    }
  }

.contact-heading {
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    /* color: var(--grey); */
    text-shadow: 0 1rem 2rem black;
}

.contact-form {
    width: 70rem;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 0 1rem 3rem black;
    flex-direction: column;
    padding: 5rem;
}

.form-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
}

.grp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.grp .form-element {
    width: 48.5%;
}

.form-element input,
.form-element textarea {
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--secondary);
  border: 0.1rem solid var(--secondary);
  font-size: 1.4rem;
  color: var(--light-grey-color);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  transition: border 0.3s;
}

.form-element textarea {
    max-width: 100%;
    max-height: 15rem;
}

.form-element input:focus,
.form-element textarea:focus {
    border: 0.1rem solid rgb(194, 194, 194);
}

.form-element label {
    position: absolute;
    top: 1rem;
    left: 1.1rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--grey);
}

.submit-btn {
    cursor: pointer;
    padding: 1rem 5rem;
    background-color: var(--secondary);
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    color: var(--grey);
    border: 0.2rem solid var(--grey);
    border-radius: 2rem;
    transition: all 0.3s;
}

.submit-btn:hover {
    background-color: var(--grey);
    color: var(--secondary);
}

.footer {
    background-color: var(--grey);
    padding: 4rem 0 2rem;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.link {
    display: block;
    font-size: 1.6rem;
    padding: 0.5rem 3rem;
    color: var(--white);
    border-radius: 0.3rem;
    transition: 0.5s;
}

.link:hover {
    box-shadow: 0 2rem 3rem black;
}